html {
    background: #eee !important;
}
.DraftEditor-root {
    border: solid 1px #eee;
    padding: 0 10px;
}
.nav-item {
    padding: 0.5rem 0.25rem !important;
}
.nav {
    flex-wrap: wrap;
    height: auto !important;
}
.comment {
    background: #fafafa;
    padding: 0.5rem;
    margin-right: 1rem !important;
}